body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  

  background: rgba(237,237,237,1);
background: -moz-linear-gradient(-45deg, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(-45deg, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(-45deg, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 100%);
background: linear-gradient(135deg, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ededed', GradientType=1 );
}
